:root {
  --nvs-color-avatar-background: var(--nvs-brand-secondary);
  --nvs-color-avatar-text: var(--nvs-brand-primary);
  --nvs-color-avatar-dark-background: var(--nvs-brand-primary);
  --nvs-color-avatar-dark-text: var(--nvs-brand-secondary);
}
