:root {
  --nvs-color-icon-muted: var(--nvs-color-text-muted);
  --nvs-color-icon-accent: var(--nvs-color-text-accent);
  --nvs-color-icon-inverse: var(--nvs-color-text-inverse);
  --nvs-color-icon-info: var(--nvs-color-info);
  --nvs-color-icon-success: var(--nvs-color-success);
  --nvs-color-icon-warning: var(--nvs-color-warning);
  --nvs-color-icon-error: var(--nvs-color-error);
}
