:root {
  --nvs-layout-min-viewport-width: 20rem;
  --nvs-layout-viewport-min-height: 100vh;
  --nvs-layout-sidebar-width: 14rem;
  --nvs-layout-rail-width: 5rem;
  --nvs-layout-header-height: 4.5rem;
  --nvs-layout-mobile-header-height: 4.25rem;
  --nvs-layout-content-max-width: 90rem;
  --nvs-layout-padding-desktop: 1.5rem;
  --nvs-layout-padding-tablet: 1.125rem;
  --nvs-layout-padding-mobile: 1rem;
  --nvs-layout-gap-desktop: 1.25rem;
  --nvs-layout-gap-mobile: 0.75rem;
}