@use './styles/tokens/index';
@use './styles/base';

@font-face {
  font-family: 'Nunito';
  src: url('assets/fonts/nunito/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('assets/fonts/nunito/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 1000;
  font-style: italic;
  font-display: swap;
}

